@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
.resize-observer[data-v-8859cc6c]{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;border:none;background-color:transparent;pointer-events:none;display:block;overflow:hidden;opacity:0}.resize-observer[data-v-8859cc6c] object{display:block;position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden;pointer-events:none;z-index:-1}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
div,
a,
textarea {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  list-style: none;
}
a {
  cursor: pointer;
}
span {
  cursor: pointer;
}
.myKeep {
  height: 100%;
  width: 100%;
  padding-top: 64px;
  box-sizing: border-box;
}
.myKeep .oveflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECF0F1;
}
.myKeep .topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #ECF0F1;
  z-index: 7;
}
.myKeep .topBar .mobMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .mobMenuRouts {
  position: absolute;
  top: 64px;
  display: inline-block;
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 22px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter {
  display: inline-block;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item a {
  display: inline-block;
  margin: 21.5px;
  font-size: 18px;
  position: relative;
  user-select: none;
  cursor: pointer;
  color: #5f5f5f;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item a::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #000;
  user-select: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item a:hover {
  color: #000;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item a:hover::before {
  width: 50%;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item.active a {
  color: #000;
}
.myKeep .topBar .mobMenu .mobMenuRouts .menuRouter .item.active a::before {
  width: 75%;
}
.myKeep .topBar .mobMenu .mobMenuRouts .bottomBtn {
  padding-top: 15px;
}
.myKeep .topBar .mobMenu .mobMenuRouts .bottomBtn .cansel {
  color: #2e5cb8;
  font-size: 16px;
  float: right;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.myKeep .topBar .mobMenu .mobMenuRouts .bottomBtn .cansel::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #2e5cb8;
  user-select: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease;
}
.myKeep .topBar .mobMenu .mobMenuRouts .bottomBtn .cansel:hover::before {
  width: 50%;
}
.myKeep .topBar .mobMenu.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .topBar .mobMenu.active .overlay {
  opacity: 1;
  visibility: visible;
}
.myKeep .topBar .wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.myKeep .topBar .wrapper .logo {
  display: inline-block;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.myKeep .topBar .wrapper .logo > h1 {
  margin: 17px 15px;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  user-select: none;
}
.myKeep .topBar .wrapper .mobBtn {
  display: none;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 15px;
  top: 14.5px;
  cursor: pointer;
  background-image: url(\../img/mobMenu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}
.myKeep .topBar .wrapper .menuRouter {
  display: inline-block;
  position: absolute;
  height: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  user-select: none;
}
.myKeep .topBar .wrapper .menuRouter .item {
  display: inline-block;
}
.myKeep .topBar .wrapper .menuRouter .item a {
  display: inline-block;
  margin: 21.5px;
  font-size: 18px;
  position: relative;
  user-select: none;
  cursor: pointer;
  color: #5f5f5f;
}
.myKeep .topBar .wrapper .menuRouter .item a::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #000;
  user-select: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease;
}
.myKeep .topBar .wrapper .menuRouter .item a:hover {
  color: #000;
}
.myKeep .topBar .wrapper .menuRouter .item a:hover::before {
  width: 50%;
}
.myKeep .topBar .wrapper .menuRouter .item.active a {
  color: #000;
}
.myKeep .topBar .wrapper .menuRouter .item.active a::before {
  width: 75%;
}
.myKeep .topBar .wrapper .settingsBtn {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 15px;
  top: 14.5px;
  cursor: pointer;
  background-image: url(\../img/settings.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}
.myKeep .topBar.active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.myKeep .settings {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.myKeep .settings .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.myKeep .settings .mainSet {
  position: absolute;
  top: 64px;
  display: inline-block;
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px 22px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.myKeep .settings .mainSet > h1 {
  color: #2e5cb8;
  font-size: 21px;
}
.myKeep .settings .mainSet .menu {
  display: inline-block;
  padding-top: 5px;
}
.myKeep .settings .mainSet .menu .item p {
  margin-top: 30px;
  font-size: 16px;
  float: left;
  padding-right: 15px;
  transition: all 0.3s ease;
}
.myKeep .settings .mainSet .menu .item .switch {
  float: right;
  height: 18px;
  width: 26px;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.myKeep .settings .mainSet .menu .item .switch .dot {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.2s ease;
}
.myKeep .settings .mainSet .menu .item .switch.active .dot {
  left: 10px;
}
.myKeep .settings .mainSet .bottomBtn {
  padding-top: 30px;
}
.myKeep .settings .mainSet .bottomBtn .cansel {
  color: #2e5cb8;
  font-size: 16px;
  float: right;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.myKeep .settings .mainSet .bottomBtn .cansel::before {
  content: '';
  height: 2px;
  width: 0;
  background-color: #2e5cb8;
  user-select: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all 0.3s ease;
}
.myKeep .settings .mainSet .bottomBtn .cansel:hover::before {
  width: 50%;
}
.myKeep .settings.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .settings.active .overlay {
  opacity: 1;
  visibility: visible;
}
.myKeep .load {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
}
.myKeep .load .dot {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  transition: all 1s ease;
  animation-duration: 1s;
  animation-name: spiner;
  animation-iteration-count: infinite;
}
@keyframes spiner {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0);
  }
}
.myKeep .load.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .home {
  position: relative;
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont {
  width: 100%;
}
.myKeep .home .cont .clearBtn {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%, 0);
  user-select: none;
  font-size: 18px;
  color: #2e5cb8;
  cursor: pointer;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
}
.myKeep .home .cont .clearBtn.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .backGroundClear {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  opacity: 0;
  visibility: hidden;
}
.myKeep .home .cont .backGroundClear .img {
  width: 100%;
  height: 80px;
  background-image: url(\../img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65px;
}
.myKeep .home .cont .backGroundClear > p {
  margin-top: 15px;
  color: #000;
  font-size: 20px;
}
.myKeep .home .cont .backGroundClear.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .addBlock {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 15px;
  max-width: 600px;
  width: 90%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  z-index: 2;
  border: 2px solid;
  transition: all 0.4s ease;
}
.myKeep .home .cont .addBlock .mainTxt {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 40px;
  transition: color 0.4s ease;
}
.myKeep .home .cont .addBlock .palette {
  display: block;
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.myKeep .home .cont .addBlock .palette .paletteBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/palette.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: all 0.4s ease;
}
.myKeep .home .cont .addBlock .palette .paletteBtn::before {
  content: 'Change color';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .addBlock .palette .items {
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  padding-left: -5px;
  bottom: 31px;
  left: 0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}
.myKeep .home .cont .addBlock .palette .items .color {
  position: relative;
  height: 25px;
  width: 11.9%;
  margin: 5px 5px;
  border-radius: 50%;
  border: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
}
.myKeep .home .cont .addBlock .palette .items .color::before {
  content: attr(data-title);
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.myKeep .home .cont .addBlock .palette .items .color.active {
  background-image: url(\../img/checkBlack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.myKeep .home .cont .addBlock .palette .items .color:hover {
  border-color: #000;
}
.myKeep .home .cont .addBlock .palette .items .color:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .addBlock .addBtn {
  display: inline-block;
  height: 30px;
  cursor: pointer;
  border-radius: 15px;
  position: absolute;
  right: 8px;
  bottom: 5px;
  transition: all 0.4s ease;
}
.myKeep .home .cont .addBlock .addBtn > p {
  display: inline-block;
  font-size: 15px;
  margin: 7px 6px 4px 0;
  user-select: none;
}
.myKeep .home .cont .addBlock .addBtn .plus {
  float: left;
  width: 25px;
  height: 30px;
  background-image: url(\../img/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
}
.myKeep .home .cont .addBlock.hover .palette .paletteBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .addBlock.hover .palette .paletteBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .addBlock.hover .palette:hover .items {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .addBlock.hover .addBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.myKeep .home .cont .modalContainer .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.myKeep .home .cont .modalContainer .modal {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid;
  border-color: #fff;
}
.myKeep .home .cont .modalContainer .modal > p {
  display: inline-block;
  white-space: nowrap;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.myKeep .home .cont .modalContainer .modal .cansel {
  position: absolute;
  left: 20px;
  bottom: 12px;
  user-select: none;
  cursor: pointer;
}
.myKeep .home .cont .modalContainer .modal .init {
  position: absolute;
  right: 20px;
  bottom: 12px;
  user-select: none;
  cursor: pointer;
  color: #2e5cb8;
}
.myKeep .home .cont .modalContainer.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .popUp {
  position: fixed;
  left: 15px;
  display: inline-block;
  z-index: 8;
  background-color: #313235;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.myKeep .home .cont .popUp .popUpCont {
  display: inline-block;
  margin: 10px 20px;
  margin-right: 5px;
}
.myKeep .home .cont .popUp .popUpCont .txt {
  float: left;
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
}
.myKeep .home .cont .popUp .popUpCont .canselBtn {
  float: right;
  color: #ffbb00;
  margin: 0 15px;
  margin-right: 8px;
  margin-top: 2px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.myKeep .home .cont .popUp .popUpCont .canselBtn.active {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .popUp .closeBtn {
  float: right;
  width: 18px;
  height: 18px;
  background-image: url(\../img/plusWhite.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  margin-top: 12px;
  margin-right: 13px;
  border-radius: 50%;
  transform: rotate(45deg);
  cursor: pointer;
}
.myKeep .home .cont .main {
  margin: 0 auto;
  position: relative;
  transition: all 0.4s ease;
  width: 90%;
}
.myKeep .home .cont .main .deleatedBlock {
  width: 32.14285714%;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  transition-property: height, width, left, top, box-shadow, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  visibility: visible;
  z-index: 3;
}
.myKeep .home .cont .main .deleatedBlock .mainTxt {
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 40px;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}
.myKeep .home .cont .main .deleatedBlock .deleteBtn {
  position: absolute;
  left: 8px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  transition: all 0.4s ease;
}
.myKeep .home .cont .main .deleatedBlock .deleteBtn::before {
  content: 'Delete note';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .deleatedBlock .deleteBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .main .deleatedBlock .deleteBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .deleatedBlock .recoveryBtn {
  position: absolute;
  left: 48px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/trash-restore.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  transition: all 0.4s ease;
}
.myKeep .home .cont .main .deleatedBlock .recoveryBtn::before {
  content: 'Recovery';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .deleatedBlock .recoveryBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .main .deleatedBlock .recoveryBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .deleatedBlock.listMode {
  width: 100%;
}
.myKeep .home .cont .main .deleatedBlock.hidden {
  transition: none;
  opacity: 0;
  visibility: hidden;
}
.myKeep .home .cont .main .deleatedBlock.active {
  transition: none;
}
.myKeep .home .cont .main .block {
  width: 32.14285714%;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  transition-property: height, width, left, top, box-shadow, background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  visibility: visible;
  z-index: 3;
}
.myKeep .home .cont .main .block .mainTxt {
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 40px;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
}
.myKeep .home .cont .main .block .moveBlock {
  width: 35%;
  height: 10px;
  cursor: pointer;
  border: 1px solid;
  border-color: #e0e0e0;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url(\../img/dot.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px;
  background-color: rgba(95, 99, 104, 0.157);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  transition: all 0.2s ease;
}
.myKeep .home .cont .main .block .palette {
  display: block;
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.myKeep .home .cont .main .block .palette .paletteBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/palette.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block .palette .paletteBtn::before {
  content: 'Change color';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block .palette .items {
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  padding-left: -5px;
  bottom: 31px;
  left: 0;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}
.myKeep .home .cont .main .block .palette .items .color {
  position: relative;
  height: 25px;
  width: 11.9%;
  margin: 5px 5px;
  border-radius: 50%;
  border: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
}
.myKeep .home .cont .main .block .palette .items .color::before {
  content: attr(data-title);
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  bottom: -22px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.myKeep .home .cont .main .block .palette .items .color.active {
  background-image: url(\../img/checkBlack.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.myKeep .home .cont .main .block .palette .items .color:hover {
  border-color: #000;
}
.myKeep .home .cont .main .block .palette .items .color:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block .deleteBtn {
  position: absolute;
  right: 48px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block .deleteBtn::before {
  content: 'Delete note';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block .cloneBtn {
  position: absolute;
  right: 8px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50px;
  background-image: url(\../img/clone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block .cloneBtn::before {
  content: 'Create copy';
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.myKeep .home .cont .main .block.listMode {
  width: 100%;
}
.myKeep .home .cont .main .block.active {
  transition: none;
}
.myKeep .home .cont .main .block.hidden {
  transition: none;
  opacity: 0;
  visibility: hidden;
}
.myKeep .home .cont .main .block.addHover .moveBlock:hover {
  height: 30px;
  background-image: url(\../img/move-button.svg);
  background-size: 25px;
}
.myKeep .home .cont .main .block.addHover .palette .paletteBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .main .block.addHover .palette .paletteBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover .palette:hover .items {
  opacity: 1;
  visibility: visible;
}
.myKeep .home .cont .main .block.addHover .deleteBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .main .block.addHover .deleteBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover .cloneBtn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
.myKeep .home .cont .main .block.addHover .cloneBtn:hover::before {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover:hover {
  z-index: 4;
}
.myKeep .home .cont .main .block.addHover:hover .menuBtn {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover:hover .paletteBtn {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover:hover .deleteBtn {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.addHover:hover .cloneBtn {
  visibility: visible;
  opacity: 1;
}
.myKeep .home .cont .main .block.clon {
  transition: none;
  pointer-events: none;
  z-index: 8;
}
.myKeep .home .cont .main .block.clon .mainTxt {
  user-select: none;
}
.myKeep .home .cont .main .block.clon .moveBlock {
  transition: none;
  height: 30px;
  background-image: url(\../img/move-button.svg);
  background-size: 25px;
}
.myKeep .home .cont .main .title {
  color: #2e5cb8;
  font-size: 28px;
  padding-top: 15px;
}
.myKeep .home .cont .main .title > span {
  color: #000;
  font-size: 15px;
}
.myKeep .home .cont .main .about {
  padding-top: 20px;
}
.myKeep .home .cont .main .about > p {
  color: #000;
  padding-top: 10px;
  font-size: 16px;
  line-height: 2;
}
.myKeep .home .cont .main .about > h2 {
  color: #2e5cb8;
  font-size: 20px;
  padding-top: 30px;
}
.myKeep .home .cont .main .about > ul {
  padding-top: 10px;
}
.myKeep .home .cont .main .about > ul > li {
  color: #000;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 14px;
  position: relative;
}
.myKeep .home .cont .main .about > ul > li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: -11px;
  transform: translate(0, -50%);
  background-color: #2e5cb8;
  border-radius: 50%;
}
.myKeep .home .cont .main .about .btnGroup {
  padding-top: 25px;
}
.myKeep .home .cont .main .about .btnGroup .btn {
  background-color: #2e5cb8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.myKeep .home .cont .main .about .btnGroup .btn > i {
  padding-right: 7px;
}
.myKeep .home.active {
  opacity: 0;
  visibility: hidden;
}
.myKeep .home.animate {
  transition: all 1s ease;
}
.myKeep.disableScroll {
  padding-right: 10px;
}
.myKeep.disableScroll .topBar {
  right: 10px;
}
.myKeep.disableScrollMobile {
  padding-right: -1px;
}
.myKeep.disableScrollMobile .topBar {
  right: -1px;
}
.myKeep.dark .oveflow {
  background-color: #202124;
}
.myKeep.dark .topBar {
  background-color: #202124;
}
.myKeep.dark .topBar .mobMenu .mobMenuRouts {
  background-color: #000;
  border-color: #5f6368;
}
.myKeep.dark .topBar .mobMenu .mobMenuRouts .menuRouter .item a {
  color: #a0a0a0;
}
.myKeep.dark .topBar .mobMenu .mobMenuRouts .menuRouter .item a::before {
  background-color: #fff;
}
.myKeep.dark .topBar .mobMenu .mobMenuRouts .menuRouter .item a:hover {
  color: #fff;
}
.myKeep.dark .topBar .mobMenu .mobMenuRouts .menuRouter .item.active a {
  color: #fff;
}
.myKeep.dark .topBar .logo {
  background-color: #000;
}
.myKeep.dark .topBar .logo > h1 {
  color: #fff;
}
.myKeep.dark .topBar .mobBtn {
  background-image: url(\../img/mobMenuWhite.svg);
}
.myKeep.dark .topBar .menuRouter .item a {
  color: #a0a0a0;
}
.myKeep.dark .topBar .menuRouter .item a::before {
  background-color: #fff;
}
.myKeep.dark .topBar .menuRouter .item a:hover {
  color: #fff;
}
.myKeep.dark .topBar .menuRouter .item.active a {
  color: #fff;
}
.myKeep.dark .topBar .settingsBtn {
  background-image: url(\../img/settingsWhite.svg);
}
.myKeep.dark .settings .mainSet {
  background-color: #000;
  border-color: #5f6368;
}
.myKeep.dark .settings .menu .item p {
  color: #fff;
}
.myKeep.dark .settings .menu .item .switch {
  background-color: #fff;
}
.myKeep.dark .settings .menu .item .switch .dot {
  background-color: #000;
}
.myKeep.dark .load .dot {
  background-color: #fff;
}
.myKeep.dark .popUp .cont .canselBtn {
  color: #8ab4f8;
}
.myKeep.dark .home .cont .backGroundClear .img {
  background-image: url(\../img/trashWhite.svg);
}
.myKeep.dark .home .cont .backGroundClear > p {
  color: #fff;
}
.myKeep.dark .home .cont .addBlock .mainTxt {
  color: #fff;
}
.myKeep.dark .home .cont .addBlock .palette .paletteBtn {
  background-image: url(\../img/paletteWhite.svg);
}
.myKeep.dark .home .cont .addBlock .palette .items {
  background-color: #202124;
}
.myKeep.dark .home .cont .addBlock .palette .items .color.active {
  background-image: url(\../img/check.svg);
}
.myKeep.dark .home .cont .addBlock .addBtn > p {
  color: #fff;
}
.myKeep.dark .home .cont .addBlock .addBtn .plus {
  background-image: url(\../img/plusWhite.svg);
}
.myKeep.dark .home .cont .addBlock.hover .paletteBtn:hover {
  background-color: rgba(154, 160, 166, 0.157);
}
.myKeep.dark .home .cont .addBlock.hover .addBtn:hover {
  background-color: rgba(154, 160, 166, 0.157);
}
.myKeep.dark .home .cont .modalContainer .modal {
  background-color: #000;
  border-color: #5f6368;
}
.myKeep.dark .home .cont .modalContainer .modal > p {
  color: #fff;
}
.myKeep.dark .home .cont .modalContainer .modal .cansel {
  color: #fff;
}
.myKeep.dark .home .cont .main .deleatedBlock .mainTxt {
  color: #fff;
}
.myKeep.dark .home .cont .main .deleatedBlock .deleteBtn {
  background-image: url(\../img/trashWhite.svg);
}
.myKeep.dark .home .cont .main .deleatedBlock .recoveryBtn {
  background-image: url(\../img/trash-restoreWhite.svg);
}
.myKeep.dark .home .cont .main .block .mainTxt {
  color: #fff;
}
.myKeep.dark .home .cont .main .block .moveBlock {
  border-color: #5f6368;
  background-image: url(\../img/dotWhite.svg);
  background-color: rgba(154, 160, 166, 0.157);
}
.myKeep.dark .home .cont .main .block .checkBlock {
  background-color: #fff;
  background-image: url(\../img/checkBlack.svg);
}
.myKeep.dark .home .cont .main .block .palette .paletteBtn {
  background-image: url(\../img/paletteWhite.svg);
}
.myKeep.dark .home .cont .main .block .palette .items {
  background-color: #202124;
}
.myKeep.dark .home .cont .main .block .palette .items .color.active {
  background-image: url(\../img/check.svg);
}
.myKeep.dark .home .cont .main .block .deleteBtn {
  background-image: url(\../img/trashWhite.svg);
}
.myKeep.dark .home .cont .main .block .cloneBtn {
  background-image: url(\../img/cloneWhite.svg);
}
.myKeep.dark .home .cont .main .block.addHover .moveBlock:hover {
  background-image: url(\../img/move-buttonWhite.svg);
}
.myKeep.dark .home .cont .main .block.addHover .palette .paletteBtn:hover {
  background-color: rgba(154, 160, 166, 0.157);
}
.myKeep.dark .home .cont .main .block.addHover .menuBtn:hover {
  background-color: rgba(154, 160, 166, 0.157);
}
.myKeep.dark .home .cont .main .block.clon .moveBlock {
  background-image: url(\../img/move-buttonWhite.svg);
}
.myKeep.dark .home .cont .main .title > span {
  color: #fff;
}
.myKeep.dark .home .cont .main .about > p {
  color: #fff;
}
.myKeep.dark .home .cont .main .about > ul > li {
  color: #fff;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1200px) {
  .myKeep .home .cont .main .deleatedBlock {
    width: 48.84259259%;
  }
  .myKeep .home .cont .main .block {
    width: 48.84259259%;
  }
}
@media (max-width: 900px) {
  .myKeep .home .cont .main .deleatedBlock {
    width: 100%;
  }
  .myKeep .home .cont .main .block {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .myKeep .topBar .wrapper .logo {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .myKeep .topBar .wrapper .mobBtn {
    display: inline-block;
  }
  .myKeep .topBar .wrapper .menuRouter {
    display: none;
  }
  .myKeep .home .cont .main .block .moveBlock {
    height: 10px;
    background-image: url(\../img/dot.svg);
    background-size: 7px;
  }
  .myKeep .home .cont .main .block.addHover .moveBlock:hover {
    height: 10px;
    background-image: url(\../img/dot.svg);
    background-size: 7px;
  }
}
